.card__container {
  margin-top: auto;
  margin-bottom: 70px;
  margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1{
      margin-bottom: 20px;
      margin-left: 28px;
      width: 90%;
      text-align: left;
      text-transform:uppercase;
        font-size: 2.0vw;
        font-weight: 400;
        color: rgb(158, 10, 158);
      
    }
      &--inner{
      
        width: 90%;
        padding: 5px;
        display: block;
        &--card{
          // border: 2px solid #0a9e88;
          background-color: #0a9e88;
          border-radius: 10px;
          padding: 15px;
          max-width: 308px;
          color: #fff;
          font-size: 50px;
          text-align: center;
          margin-left: 10px;
         
          // @media (max-width: 1200px){
          //   .card__container {
          //    display: inline-block;
          //   }
          // }
        h2{
        color: #fff;;
        font-size: 1.3vw;
        font-weight: 600;
        padding-left: 8px;
        // padding-bottom: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        line-height: 3;
          }
  
        
        p{
        font-size: 1vw;
        font-weight: 400;
        color: rgb(58, 58, 58);
        text-align: left;
        padding-left: 8px;
        line-height: 0;
        span{
        color: rgb(58, 58, 58);
        font-size: 1.2vw;
        font-weight: 600;
        padding-left: 8px;
        }
          }
        img{
        width: 100%;
        height: 220px;
        border-radius: 1vw;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 10px;
     
         }
          
        
        &:hover{
          transform: scale(1.10);
          cursor: pointer;
        }
      
        }
          p{
          color: #0a9e88;
            font-weight: bold;
          }
        }
      }
   
        
    
    
    /* -------------------------------------------------------------- */
    /* SLICK REACT CAROUSEL */
    /* -------------------------------------------------------------- */
    .slick-next,
    .slick-prev {
      padding: 14px;
        width: 5vw;
        height: 20%;
        cursor: pointer;
        border: none;
        border-radius: 2vw;
        background-color: #fff;
        z-index: 99 !important;
        top: 40%;
        
    }
    
    
    