.header {
  height: 50vh;
   width: 100%;
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.7) 0%), url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTl8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;

 }

   p{
  font-size: 2vw;
  color: rgb(10, 158, 136);
   font-weight: 600;
   line-height: 0;
   margin-bottom: 15vh;
   text-align: center;
   }



  h1{
    margin-bottom: 100px;
  font-size: 3.5vw;
   font-weight: 600;
   color: white;
   text-align: center;
   line-height: 14px;
  }
     
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}
.speech {
  margin: 50px auto;
  width: 600px;
  margin-bottom: 130px;
}

.header{
  margin: 7px 0;
  
}

textarea {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid silver;
  outline:none;
  border-radius: 3px;
}

h3 {
  margin-bottom: 10px;
}

button {
  width: 100%;
  display: block;
  padding: 10px 22px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  outline: none; 
  border: none; 
  background-color: rgb(10, 158, 136);
  cursor: pointer;
}